@font-face {
    font-family: 'lovelive';
    src: url('../font/lovelive.TTF');
}


h1{
    color: rgb(255, 255, 255);
    font-family:lovelive;
    font-size:2rem;
}

h2{
    color: rgb(133, 133, 133);
    font-family:Arial;
    font-size:0.8rem;
}

