html,body { margin:0; height:100%;}

.bgl{
    background-image: url("../img/linus.gif");
    height:100%;
    background-size: cover;
    background-repeat: no-repeat;

}

.bg1{
    background-image: url("../img/background/blanc.jpg");
}

.bg2{
    background-image: url("../img/background/bleu.jpg");
}

.bg3{
    background-image: url("../img/background/bleuFonce.jpg");
}

.bg4{
    background-image: url("../img/background/gris.jpg");
}

.bg5{
    background-image: url("../img/background/noir.jpg");
}

.bg6{
    background-image: url("../img/background/rose.jpg");
}

.bg7{
    background-image: url("../img/background/rouge.jpg");
}


.colhov:hover{
    transform: scale(0.95);
}
